* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;   
  padding: 2rem;      
  overflow: hidden;  

  font-family: sans-serif;
}
img {
  width: 100%;
  max-width: 550px;

  max-height: 60vh;  
  object-fit: contain;

  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  color: #aaa;
  margin-bottom: 2rem;
}

a {
  background-color: #3ecf8e;
  color: #111;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #04fc8d;
}

@media (max-width: 600px) {
  img {
    max-width: 400px;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }
}
